/*** Saturday on main calendar ***/
.st-dtitle:nth-last-child(2),
.tg-weekend:nth-last-child(2),
#weekViewAllDayBgwk .st-bg:nth-last-child(2) {
  color: #22F !important;
}

.st-dtitle-nonmonth:nth-last-child(2) {
  color: #88F !important;
}

.st-bg-table .st-bg:nth-last-child(2),
.tg-weekend:nth-last-child(2),
#weekViewAllDayBgwk .st-bg:nth-last-child(2) {
  background-color: #F0F3FC !important;
}

/*** Sunday on main calendar ***/
.st-dtitle:last-child,
.tg-weekend:last-child,
#weekViewAllDayBgwk .st-bg:last-child {
  color: #E22 !important;
}

.st-dtitle-nonmonth:last-child {
  color: #E88 !important;
}

.st-bg-table .st-bg:last-child,
.tg-weekend:last-child,
#weekViewAllDayBgwk .st-bg:last-child {
  background-color: #FFF0EE !important;
}

/*** Saturday on mini calendar ***/
.dp-dayh:nth-last-child(2),
.dp-weekend.dp-onmonth:nth-last-child(2),
.dp-weekend-selected.dp-onmonth-selected:nth-last-child(2) {
  color: #22F !important;
}

.dp-weekend:nth-last-child(2).dp-offmonth,
.dp-weekend-selected:nth-last-child(2).dp-offmonth-selected {
  color: #88F !important;
}

/*** Sunday on mini calendar ***/
.dp-dayh:last-child,
.dp-weekend.dp-onmonth:last-child,
.dp-weekend-selected.dp-onmonth-selected:last-child {
  color: #E22 !important;
}

.dp-weekend:last-child.dp-offmonth,
.dp-weekend-selected:last-child.dp-offmonth-selected {
  color: #E88 !important;
}
