/*** Saturday on main calendar ***/
.st-dtitle:first-child,
.tg-weekend:first-child,
#weekViewAllDayBgwk .st-bg:first-child {
  color: #22F !important;
}

.st-dtitle-nonmonth:first-child {
  color: #88F !important;
}

.st-bg-table .st-bg:first-child,
.tg-weekend:first-child,
#weekViewAllDayBgwk .st-bg:first-child {
  background-color: #F0F3FC !important;
}

/*** Sunday on main calendar ***/
.st-dtitle:nth-child(2),
.tg-weekend:nth-child(2),
#weekViewAllDayBgwk .st-bg:nth-child(2) {
  color: #E22 !important;
}

.st-dtitle-nonmonth:nth-child(2) {
  color: #E88 !important;
}

.st-bg-table .st-bg:nth-child(2),
.tg-weekend:nth-child(2),
#weekViewAllDayBgwk .st-bg:nth-child(2) {
  background-color: #FFF0EE !important;
}

/*** Saturday on mini calendar ***/
.dp-dayh:first-child,
.dp-weekend.dp-onmonth:first-child,
.dp-weekend-selected.dp-onmonth-selected:first-child {
  color: #22F !important;
}

.dp-weekend:first-child.dp-offmonth,
.dp-weekend-selected:first-child.dp-offmonth-selected {
  color: #88F !important;
}

/*** Sunday on mini calendar ***/
.dp-dayh:nth-child(2),
.dp-weekend.dp-onmonth:nth-child(2),
.dp-weekend-selected.dp-onmonth-selected:nth-child(2) {
  color: #E22 !important;
}

.dp-weekend:nth-child(2).dp-offmonth,
.dp-weekend-selected:nth-child(2).dp-offmonth-selected {
  color: #E88 !important;
}
