/*** Saturday on main calendar ***/
.st-dtitle:last-child,
.tg-weekend:last-child,
#weekViewAllDayBgwk .st-bg:last-child {
  color: #22F !important;
}

.st-dtitle-nonmonth:last-child {
  color: #88F !important;
}

.st-bg-table .st-bg:last-child,
.tg-weekend:last-child,
#weekViewAllDayBgwk .st-bg:last-child {
  background-color: #F0F3FC !important;
}

/*** Sunday on main calendar ***/
.st-dtitle:first-child,
.tg-weekend:first-child,
#weekViewAllDayBgwk .st-bg:first-child {
  color: #E22 !important;
}

.st-dtitle-nonmonth:first-child {
  color: #E88 !important;
}

.st-bg-table .st-bg:first-child,
.tg-weekend:first-child,
#weekViewAllDayBgwk .st-bg:first-child {
  background-color: #FFF0EE !important;
}

/*** Saturday on mini calendar ***/
.dp-dayh:last-child,
.dp-weekend.dp-onmonth:last-child,
.dp-weekend-selected.dp-onmonth-selected:last-child {
  color: #22F !important;
}

.dp-weekend:last-child.dp-offmonth,
.dp-weekend-selected:last-child.dp-offmonth-selected {
  color: #88F !important;
}

/*** Sunday on mini calendar ***/
.dp-dayh:first-child,
.dp-weekend.dp-onmonth:first-child,
.dp-weekend-selected.dp-onmonth-selected:first-child {
  color: #E22 !important;
}

.dp-weekend:first-child.dp-offmonth,
.dp-weekend-selected:first-child.dp-offmonth-selected {
  color: #E88 !important;
}
